{% extends 'base.html' %}
{% block title %} Category Details {% endblock %}
{% block content %}
    <section class="section">
<div class="container">
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/200x100.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
      <div class="media-content">
        <p class="title is-4">{{ category_details.category_name }}</p>
        <p class="subtitle is-6">{{ category_details.category_description }}</p>
      </div>
    </div>
    <div class="content">
        <a href={% url 'category_list' %}> Back to categories list </a>
    </div>
</div>
</div>
</section>
{% endblock %}