{% extends 'base.html' %}
{% block title %} Category List {% endblock %}
{% block content %}
<section class="section">
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th> Category Name </th>
            <th> Category Description </th>
        </tr>
        </thead>
        <tbody>
        {% for category in all_categories%}
            <tr>
            <td> {{ category.category_name }} </td>
            <td> {{ category.category_description }} </td>
            <td>
                <a href={% url 'category_update' category.id %}> Update Category </a>
                <a href={% url 'category_delete' category.id %}> Delete Category </a>
                <a href={% url 'category_details' category.id %}> Details </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href={% url 'category_create' %}> Add new category </a>
</div>
</section>
{% endblock %}