{% extends 'base.html' %}
{% block title %} Product List {% endblock %}
{% block content %}
<section class="section">
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th> Product Name </th>
            <th> Product Quantity </th>
            <th> Product Price </th>
            <th> Product Currency </th>
            <th> Product Category </th>
        </tr>
        </thead>
        <tbody>
        {% for product in all_products%}
            <tr>
            <td> {{ product.product_name }} </td>
            <td> {{ product.product_quantity }} </td>
            <td> {{ product.product_price }} </td>
                <td> {{ product.price_currency }} </td>
                <td>{{ product.category }}</td>
            <td>
                <a href={% url 'product_update' product.id %}> Update Product </a>
                <a href={% url 'product_delete' product.id %}> Delete Product </a>
                <a href={% url 'product_details' product.id %}> Details </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href={% url 'product_create' %}> Add new product </a>
</div>
</section>
{% endblock %}