{% extends 'base.html' %}
{% block title %} Product Update {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Update Product </button>
    </form>
{% endblock %}