{% extends 'base.html' %}
{% block title %} Product Details {% endblock %}
{% block content %}
    <section class="section">
<div class="container">
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/200x100.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
      <div class="media-content">
        <p class="title is-4">{{ product_details.product_name }}</p>
        <p class="subtitle is-6">{{ product_details.product_price}}</p>
      </div>
    </div>
    <div class="content">
    </div>
  </div>
</div>
<a href={% url 'product_list' %}> Back to products list </a>
</section>
{% endblock %}