{% extends 'base.html' %}
{% block title %} Product {% endblock %}
{% block content %}
    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">SEND</button>
    </form>
{% endblock %}
