<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel=“stylesheet” href=“https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css”>
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>
